.btn {
	display: inline-block;
	color: $white;
	font-size: 14px;
	font-weight: 400;
	font-family: $font-family;
	text-align: center;
	text-decoration: none;
	padding: 20px 80px;
	background-color: $black-primary;
	transition: all 0.3s ease;
	border: 1px solid $black-primary;

	@media (max-width: 1110px) {
		padding: 18px 72px;
	}

	@media (max-width: 768px) {
		padding: 15px 64px;
		font-size: 12px;
	}

	@media (max-width: 467px) {
		padding: 15px 60px;
	}

	&.white-btn {
		background-color: $white;
		color: $black-primary;
		border: 1px solid $white;
	}

	&:hover,
	&:active {
		color: $black-primary;
		outline: none;
		background-color: $white;

		&.white-btn {
			color: $white;
			background-color: rgba(255, 255, 255, 0.3);
		}
	}

	&:focus {
		outline: none;
	}

	// &.disabled,
	// &[disabled] {
	// 	pointer-events: none;
	// 	opacity: 0.5;
	// 	cursor: auto;
	// }
}
