$black-primary: #000;
$dark-grey-secondary: #6e7172;
$grey: #999;
$light-grey: #f8f9fa;
$white: #fff;
$red-primary: #d72c0d;
$red-secondary: #fbedea;
$font-family: "Poppins", sans-serif;
$second-family: "Inter", sans-serif;
$third-family: "SF Pro Display", sans-serif;
$font3: "Cormorant Upright", sans-serif;

html,
body {
	height: 100%;
}

body {
	color: $black-primary;
	font-size: 14px;
	font-family: $font-family;
	line-height: 1.25;
	font-weight: 400;
}

* {
	outline: none;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1em;
	line-height: 1;
	margin: 0;
	cursor: default;
}

img {
	vertical-align: top;
	max-width: 100%;
}

a {
	text-decoration: none;
	transition: none;

	&:hover {
		text-decoration: none;
	}
}

ul,
ol {
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	cursor: default;
}

button {
	outline: none;

	&:focus {
		outline: none;
	}
}

[class^="icon-"],
[class*=" icon-"] {
	position: relative;
	vertical-align: middle;
}

.wrapper {
	position: relative;
	min-width: 320px;
	min-height: 100%;
	overflow: hidden;
}

[class*="__container"] {
	max-width: 1506px;
	margin: 0 auto;
	padding: 0;
	height: 100%;

	@media (max-width: 1680px) {
		max-width: 1280px;
	}

	@media (max-width: 1440px) {
		max-width: 1200px;
	}

	@media (max-width: 1280px) {
		max-width: 1030px;
	}

	@media (max-width: 1110px) {
		max-width: 920px;
	}

	@media (max-width: 980px) {
		max-width: 100%;
		padding: 40px;
	}
}
