.link {
	font-family: $font-family;
	font-weight: 400;
	font-size: 18px;
	line-height: 144%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
	color: $black-primary;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 0;
		height: 1px;
		background-color: $black-primary;
		transition:
			width 0.3s,
			left 0.3s ease;
	}

	&:hover::after {
		left: 0;
		width: 100%;
	}
}
